body{
    background-color: lightskyblue;
}

form{
    margin:100px auto 100px auto;
    padding: 30px 10px 10px 10px;
    height: 400px;
    width: 300px;
    background-color: white;
}

.inputs input{
    border: 2px;
    border-style: inset;
    width: 275px;
    padding: 6px;
}

header{
    background-color: white;
    text-align: right;
}

#buttons{
    background-color: blue;
    color: white;
}